<div class="mt-4 mx-auto col-6">
    <h1>Đã kết thúc làm việc</h1> 
    <form action="/attendance">
      <div class="mb-3">
        <label for="name" class="form-label">Số giờ đã làm trong hôm nay</label>
        <input type="text" class="form-control" id="name disabledInput" name="name" placeholder="{{result.totalHours}}H (tăng ca:{{result.overTime}}H)" disabled>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">danh sách điểm danh trong ngày:</label>
      {{#each result.items}}
        <input type="text" class="form-control" id="name disabledInput" name="name" placeholder="{{time this.startTime}} --> {{time this.endTime}}" disabled>
      {{/each}}
      </div>

       <div class="mb-3">
        <label for="location" class="form-label">Nơi làm việc</label>
        <input type="text" class="form-control" id="location disabledInput" name="location" placeholder="{{user.location}}" disabled> 
      </div>
       
      <button type="submit" class="btn btn-primary">Quay về</button>
    </form>
</div>


