<%- include('includes/header.ejs') %>

<div class="mt-4 mx-auto col-7">
  <% if (err) { %>
  <div class="col-3 mx-auto mt-4">
    <div class="text-center p-3 border bg-danger text-white rounded">
      <%= errorMessage %>
    </div>
  </div>
  <% } %>
  <form
    action="/information/update?_method=PATCH"
    method="post"
    enctype="multipart/form-data"
  >
    <h1 class="my-4">Thông tin cá nhân</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 mb-3">
          <img
            src="/<%= user.image %>"
            class="img-thumbnail"
            alt="/<%= user.image %>"
          />

          <input class="form-control" type="file" name="image" />
          <button type="submit" class="btn btn-primary mx-auto d-block">
            Sửa
          </button>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">ID</label>
            <input
              type="text"
              class="form-control"
              id="disabledInput"
              placeholder="<%= user.id %>"
              disabled
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Họ và Tên</label>
            <input
              type="text"
              class="form-control"
              id="disabledInput"
              placeholder="<%= user.name %>"
              disabled
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Ngày sinh</label>
            <input type="text" class="form-control" id="disabledInput"
            placeholder="<%= moment(user.doB).format("Do MMMM YYYY") %>"
            disabled />
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Lương</label>
      <input
        type="text"
        class="form-control"
        id="disabledInput"
        placeholder="<%= user.salaryScale %>"
        disabled
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Ngày bắt đầu làm</label>
      <input type="text" class="form-control" id="disabledInput"
      placeholder="<%= moment(user.createdAt).format("Do MMMM YYYY") %>"
      disabled />
    </div>

    <div class="mb-3">
      <label class="form-label">Phòng ban</label>
      <input
        type="text"
        class="form-control"
        id="disabledInput"
        placeholder="<%= user.department %>"
        disabled
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Số ngày nghỉ còn lại</label>
      <input
        type="text"
        class="form-control"
        id="disabledInput"
        placeholder="<%= user.annualLeave %>"
        disabled
      />
    </div>
    <div class="mx-auto">
      <a class="btn btn-primary">Quay về</a>
    </div>
  </form>
</div>

<%- include('includes/footer.ejs') %>
