
    <%- include('includes/header.ejs') %>

    <div class="mt-4 mx-auto col-6">
      <h1>Đã bắt đầu làm việc</h1>
      <form action="/attendance">
        <div class="mb-3">
          <label for="name" class="form-label">Họ và Tên</label>
          <input
            type="text"
            class="form-control"
            id="name disabledInput"
            name="name"
            placeholder="<%=user.name%>"
            disabled
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Nơi làm việc</label>
          <input
            type="text"
            class="form-control"
            id="location disabledInput"
            name="location"
            placeholder="<%=user.location%>"
            disabled
          />
        </div>

        <button type="submit" class="btn btn-primary">Quay về</button>
      </form>
    </div>
    <%- include('includes/footer.ejs') %>  <%- include('includes/footer.ejs') %>
