<div class="container">
    <div class="row">
        {{#each ts}}
           
            <div class="col mt-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ngày {{this.day}} tháng {{this.month}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Tổng Giờ làm {{this.totalHours}} làm thêm:
                            {{this.overTime}}</h6>

                        {{#each this.items}}<p class="card-text">{{h this.startTime}}-->{{h this.endTime}}({{this.workplace}})</p>{{/each}}
                    </div>
                </div>
            </div>
    
        {{/each}}
    </div>
</div>